.App {
  text-align: center;
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
}

.options:hover {
  background-color: #5a8bbb;
  color: #f1f1f1;
  cursor: pointer;
}

.ui.floating.message.selected {
  background-color: #9cc7f3;
  color: #f1f1f1;
  border: 2px solid #435566;
}
